<div style="max-width:600px">
  <h2>Start</h2>
  <p>Det här är <a href="/game">en prototyp för en Fyra-i-Rad spelmotor</a>.</p>
  <p></p>Är den bra?</p>
  <p>Jämför den med <a target="_blank" href="https://connect4.gamesolver.org/">Connect 4 - game solver</a> (som enligt egen utsago spelar perfekt).</p>
  <p>Samt med minst en annan webbaserad Fyra-I-Rad-applikation (med bot/AI).</p>
  <p>När du jämför använd automatiserad testning:</p>
  <ul>
    <li>För denna prototyp: Är den dumma boten sämre än den vanliga?</li>
    <li>För alla: Följer spelmotorerna <a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">spelreglerna?</a></li>
    <li>För alla: Kan de detektera när en spelare har vunnit?</li>
    <li>För alla: Finns det någon slumpmässighet i datorns drag? Eller är de alltid identiska i en viss situation?</li>
    <li>Låt dem spela mot varandra. Vilken är bäst/vinner oftast?</li>
  </ul>
  <p>Använd scenarier skrivna i Gherkin och Cucumber för att testa.</p>
  <p>Använd Selenium (och för denna prototyp eventuellt också unit testing).</p>
  <p>Arbeta enligt SCRUM och med versionhantering i Git.</p>
  <p><b>Obs!</b> Börja med test av endast denna applikation! Hur man får två olika applikationer att spela mot varandra (parallella web drivers) tar vi upp i kommande lektioner.</p>
</div>