<div class="row">
  <div class="input-group mb-3">
    <input type="text" class="to-add form-control" placeholder="Enter something to add to the todo list">
    <div class="input-group-append">
      <button class="add-btn btn btn-outline-secondary" type="button">Add</button>
    </div>
  </div>
  ${this.todoList.items.length < 1 ? '' : `
    <div class="bg-light col-sm-5">
      <h3 class="mt-2">Todo List</h3>
      ${this.todoList}
    </div>
  `}
  ${this.doneList.items.length < 1 ? '' : `
    <div class="bg-light col-sm-5 ${this.todoList.items.length < 1 ? '' : 'offset-sm-2'}">
      <h3 class="mt-2">Done List</h3>
      ${this.doneList}
    </div>
  `}
</div>